<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="style_usuario.css">
    <link rel="shortcut icon" href="image/muscle.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Avaliador</title>
</head>



<body>

    <header class="header" id="header">

        <div class="logo_header">
            <img src="image/logo/muscle.png" alt="Logo Músculo" class="image_logo_header">
            <div class="nome_logo">
                <h1>HALLFIT</h1>
            </div>
        </div>

        <div class="navigation_header">
            <a href="#" class="active">HOME</a>
            <a href="#">USUÁRIO</a>
        </div>

    </header>

    <!--<div class="imagem_principal">
        <img src="image/avaliador/ÁREA DO AVALIADOR.png" alt="Imagem principal">
    </div>
    -->  

    <div class="perfil_usuario">
        <img src="image/usuario/perfil.png" alt="logo html e css"> 
            <div class="perfiltexto">
                    <p><b>Aluno(a):</b> Gabriella Pugliesi</p>
                    <p><b>Nascimento:</b> 25/08/1999
                    <p><b>Objetivo:</b> Ganho de massa</p>
                    <p><b>Matrícula:</b> 0023055</p>
             </div>
    </div>

    <div class="boxperfil">
        <p><b>Fumante:</b> Não<br>
            <b>Pratica atividade física:</b> Sim</p>
        <p><b>Problema na coluna:</b> Não<br>
            <b>Comorbidade:</b> Não</p>
    </div>
    <div class="boxavaliacoes">
            <div class="avaliacoesfisicas">
                <p class="aval">AVALIAÇÕES FÍSICAS</p>
            </div>
    </div>  

    <div class="boxdata">
        <div class="box-container">
        <!-- seta1 -->
        <div class="box-seta">
         <img src="image/usuario/seta.png" alt="">
        </div>
      
        <!-- conteudo -->
       
        <div class="box-conteudo">
         <div class="container-box-textos">
           <div class="box-textos">
            <p>
             <span class="titulo">Data: </span>
             <span class="conteudo">05/06/2023</span>
            </p>
            <p>
             <span class="titulo">Peso: </span>
             <span class="conteudo">65,4kg</span>
            </p>
            <p>
             <span class="titulo">IMC: </span>
             <span class="conteudo">20,9</span>
            </p>
           </div>
           <div class="box-textos">
            <p>
             <span class="titulo">Avaliador: </span>
             <span class="conteudo">Marcos César</span>
            </p>
            <p>
             <span class="titulo">Peso Ósseo(%): </span>
             <span class="conteudo">2,6kg</span>
            </p>
            <p>
             <span class="titulo">Altura </span>
             <span class="conteudo">1,75cm</span>
            </p>
           </div>
         </div>
         <div class="box-button">
          <button class="btn-detail">
           Detalhar
          </button>
         </div>
        </div>
       
      <!-- seta 2 -->
        <div class="box-seta">
            <img src="image/usuario/seta2.png" alt="">
        </div>
       </div>
    </div>
      

   
    <footer>
        <div class="rodape">
            <h1 id="siga_gente">SIGA A GENTE</h1>
            <div class="icons">
                <img src="image/logo/whatsApp.png" alt="Logo do WhatsApp em preto e branco" >
                <img src="image/logo/instagram_logo.png" alt="Logo do Instagram em preto e branco">
                <img src="image/logo/twitter_logo.png" alt="Logo do Twitter em preto e branco">
            </div>
            <img src="image/logo/muscle.png" alt="Musculo">
            <h1>TREINE COM A GENTE</h1>

            <p id="cc">TODOS OS DIREITOS RESERVADOS</p>
        </div>

    </footer>
</body>
</html>