<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="style_avaliador.css">
    <link rel="shortcut icon" href="image/muscle.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Avaliador</title>
</head>



<body>

    <header class="header" id="header">

        <div class="logo_header">
            <img src="image/logo/muscle.png" alt="Logo Músculo" class="image_logo_header">
            <div class="nome_logo">
                <h1>HALLFIT</h1>
            </div>
        </div>

        <div class="navigation_header">
            <a href="#" class="active">HOME</a>
            <a href="#">USUÁRIO</a>
        </div>

    </header>

    <!--<div class="imagem_principal">
        <img src="image/avaliador/ÁREA DO AVALIADOR.png" alt="Imagem principal">
    </div>
    -->  

    <div class="conteúdo_cadastro_busca">
        <input type="text" placeholder="Buscar...">
        <a href="cadastro_aluno.html">CADASTRAR</a>
    </div>

    <div class="imagens_conteúdo">
        <a href="#"><img src="image/avaliador/aluno1_editada.jpg" alt="Aluno 1"><p>Aluno 1</p></a>
        <a href="#"><img src="image/avaliador/aluno2_editada.jpg" alt="Aluno 2"><p>Aluno 2</p></a>
        <a href="#"><img src="image/avaliador/aluno3_editada.jpg" alt="Aluno 3"><p>Aluno 3</p></a>
    </div>
    <footer>
        <div class="rodape">
            <h1 id="siga_gente">SIGA A GENTE</h1>
            <div class="icons">
                <img src="image/logo/whatsApp.png" alt="Logo do WhatsApp em preto e branco" >
                <img src="image/logo/instagram_logo.png" alt="Logo do Instagram em preto e branco">
                <img src="image/logo/twitter_logo.png" alt="Logo do Twitter em preto e branco">
            </div>
            <img src="image/logo/muscle.png" alt="Musculo">
            <h1>TREINE COM A GENTE</h1>

            <p id="cc">TODOS OS DIREITOS RESERVADOS</p>
        </div>

    </footer>
</body>
</html>