<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="style_index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/muscle.ico" type="image/x-icon">
    <title>HALLFIT</title>
</head>
<body>
    <div class="area_login">
        <h1 id="login-texto">LOGIN</h1>
            <input type="text" placeholder="Usuario">
            <br>
            <input type="password" placeholder="Senha">
            <br>
        <a href="area_avaliador.html" rel="next" target="_self">
            <button id=botao>Entrar</button>
        </a>
        <br>
        <div class="logo_hallfit">
            <img src="image/logo/muscle.png" alt="Músculo" id="hallfit_logo">
            <h1>HALLFIT</h1>
        </div>
    </div>

    <footer>
        <div class="rodape">
            <h1 id="siga_gente">SIGA A GENTE</h1>
            <div class="icons">
                <img src="image/logo/whatsApp.png" alt="Logo do WhatsApp em preto e branco" >
                <img src="image/logo/instagram_logo.png" alt="Logo do Instagram em preto e branco">
                <img src="image/logo/twitter_logo.png" alt="Logo do Twitter em preto e branco">
                
            </div>
            <img src="image/logo/muscle.png" alt="Musculo">
            <h1>TREINE COM A GENTE</h1>

            <p id="cc">TODOS OS DIREITOS RESERVADOS</p>
        </div>

    </footer>
</body>
</html>